body {
  background: url('/FlatMates/img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
   height: 100%;
}



.page-footer {
	  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:transparent;
  color: white;
  font-size: 11px;
  text-align: center;
} 